*{
    box-sizing: border-box;
    border: none;
}
.entete{
    font-size: 80%;
}
.barre{
    background: linear-gradient(blue, rgb(4, 4, 80));
}
.barre a{
    color: aliceblue;
    border-right: 1px solid white;
}
hr{
    border: 4px double black;
}
.ma-calcu{
    background: #cfcdcd;
    box-shadow: 3px 3px 3px 3px rgba(22, 22, 22, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border: 5px ridge rgba(22, 21, 21, 0.329);
}
.nombreEntrer{
    height: 100px;
    background: #ffffff;
    border-bottom: 2px solid black;
    outline: none;
}
#nombreEntrer{
    font-size: 3em;
}

.les-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 90px;
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.signe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 90px;
    grid-gap: 20px;
    margin-top: 50px;
}
.boutton{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2.8em;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px rgba(22, 22, 22, 0.5);
}
.boutton:active{
    background-color: #cfcdcd;
    transform: scale(0.99);
    box-shadow: 0 0 0 #000000;
}

.boutton-s{
    font-size: 1.8em;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    width: 100%;
}
#btn-7{
    grid-column: 1/2;
    grid-row: 1/2;
}
#btn-8{
    grid-column: 2/3;
    grid-row: 1/2;
}
#btn-9{
    grid-column: 3/4;
    grid-row: 1/2;
}
#btn-4{
    grid-column: 1/2;
    grid-row: 2/3;
}
#btn-5{
    grid-column: 2/3;
    grid-row: 2/3;
}
#btn-6{
    grid-column: 3/4;
    grid-row: 2/3;
}
#btn-1{
    grid-column: 1/2;
    grid-row: 3/4;
}
#btn-2{
    grid-column: 2/3;
    grid-row: 3/4;
}
#btn-3{
    grid-column: 3/4;
    grid-row: 3/4;
}
#btn-0{
    
    grid-column: 1/3;
    grid-row: 4/5;
}
#btn-point{
    grid-column: 3/4;
    grid-row: 4/5;
}
#btn-CE{
    background: #4309efb7;
    grid-column: 1/2;
    grid-row: 1/2;
}
#btn-C{
    background: #ef0909b7;
    grid-column: 2/3;
    grid-row: 1/2;
}
#btn-div{
    grid-column: 1/2;
    grid-row: 2/3;
}
#btn-mult{
    grid-column: 2/3;
    grid-row: 2/3;
}
#btn-moins{
    grid-column: 1/2;
    grid-row: 3/4;
}
#btn-plus{
    background: #20ef09b7;
    grid-column: 2/3;
    grid-row: 3/5;
}
#btn-egal{
    background: #efe709b7;
    grid-column: 1/2;
    grid-row: 4/5;
}
