ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer; 
    position: relative;
    display: flex;
    justify-content: space-between;
}



ul li span button:hover{
    background-color: #571717;
}

li button{
    justify-content: end;
    background-color: #b91212;
    color: #fff;
}

.notif{
    border: none;
    font-size: 30px;
    display: flex;
    
}
.notif p {
    font-size: 8px;
}

