table{
    background-color: rgb(236, 234, 114);
    width: 80%;
    margin: auto;
    text-align: center;
}

thead tr{
    margin-top: 20px;
    border-bottom: 3px solid black;
    justify-content: space-around;
}
tr{
    height: 40px;
    border-radius: 5px;
    border-color: beige;
}
tbody tr{
    justify-content: space-around;
}
.modifier{
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(5, 112, 5);
    color: aliceblue;
}
.supprimer{
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 11, 11);
    color: aliceblue;

}

#modifier{
    display: none;
}